<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"	
xmlns:tools="http://schemas.android.com/tools">

	<permission    
	android:name="background.work.around.BINDER_PERMISSION"             
	android:protectionLevel="signature" />
	<uses-permission android:name="background.work.around.BINDER_PERMISSION" />

	<uses-permission android:name="android.permission.QUERY_ALL_PACKAGES" />

	<uses-permission android:name="android.permission.REQUEST_IGNORE_BATTERY_OPTIMIZATIONS" />

    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.RECEIVE_LOCKED_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
	<!--​I can use this foreground service type, cos I have USE_EXACT_ALARM permission. If this stops working in future, it's recommended to use specialUse type-->
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_SYSTEM_EXEMPTED" />
	<uses-permission android:name="android.permission.USE_EXACT_ALARM"/>
	<uses-permission android:name="android.permission.SCHEDULE_EXACT_ALARM"/>	
	<!--​I can use this foreground service type, cos I have USE_EXACT_ALARM permission. If this stops working in future, it's recommended to use specialUse type-->
	<uses-permission android:name="android.permission.POST_NOTIFICATIONS"/>
	<uses-permission android:name="android.permission.WAKE_LOCK"/>	

    <application
        android:label="BackgroundWorkAround"
        android:allowBackup="false"
		android:debuggable="false"
		android:requestLegacyExternalStorage="false"
        android:fullBackupContent="false"
		android:extractNativeLibs="false"
        android:icon="@drawable/ic_launcher"
        android:theme="@android:style/Theme.DeviceDefault.NoActionBar">	

		 <service
            android:name="background.work.around.RiderService"
			android:directBootAware="true"
			android:process=":rider1337backgroundworkaround"
            android:foregroundServiceType="systemExempted" 
            android:exported="true"
			android:stopWithTask="false" 
            android:permission="android.permission.BIND_JOB_SERVICE" />
	
	   <service	
        android:name="background.work.around.NotificationService"
        android:permission="android.permission.BIND_NOTIFICATION_LISTENER_SERVICE"
        android:foregroundServiceType="systemExempted"
		android:stopWithTask="false"
		android:directBootAware="true"  		   
		android:process=":notlist1337backgroundworkaround"
		android:exported="true">
       <intent-filter>
           <action android:name="android.service.notification.NotificationListenerService" />
       </intent-filter>
	   </service>

		<activity android:name="background.work.around.MainActivity"
            android:exported="false"
			android:launchMode="singleInstance"
            android:directBootAware="true"
            android:process=":act01337backgroundworkaround"
            android:showWhenLocked="true"
            android:screenOrientation="portrait"
            android:excludeFromRecents="true">		
        </activity>	

		<activity android:name="background.work.around.WelcomeActivity"
            android:exported="true"
            android:directBootAware="true"
            android:process=":act01337backgroundworkaround"
            android:showWhenLocked="true"
            android:screenOrientation="portrait"
            android:excludeFromRecents="true">	
		<intent-filter>
           <action android:name="android.intent.action.MAIN" />
           <category android:name="android.intent.category.LAUNCHER" />
        </intent-filter>
        </activity>	

		<receiver		
			android:directBootAware="true"
			android:exported="true"
			android:process=":adm1337backgroundworkaround"			           
			android:name="background.work.around.MyDeviceAdminReceiver"
            android:permission="android.permission.BIND_DEVICE_ADMIN">
            <meta-data
                android:name="android.app.device_admin"
                android:resource="@xml/device_admin" />
            <intent-filter>
                <action android:name="android.app.action.DEVICE_ADMIN_ENABLED" />
                <action android:name="android.app.action.DEVICE_ADMIN_DISABLED" />
				<action android:name="android.app.action.PASSWORD_FAILED" />
				<action android:name="android.app.action.PASSWORD_SUCCEEDED" />
            </intent-filter>
		</receiver>	


		<receiver		
			android:directBootAware="true"
			android:exported="false"
			android:process=":x1337backgroundworkaround"			           
			android:name="background.work.around.MyReceiver2">
		<intent-filter>
            <action android:name="background.work.around.START2" />
        </intent-filter>
		</receiver>	
			

		<receiver		
			android:directBootAware="true"
			android:exported="true"
			android:process=":cross1337backgroundworkaround"			
            android:name="background.work.around.MyReceiver">                        
			<intent-filter>
				<action android:name="android.intent.action.BOOT_COMPLETED"/>
				<action android:name="android.intent.action.LOCKED_BOOT_COMPLETED"/>
			</intent-filter>			
			<intent-filter>
                <action android:name="background.work.around.ALARM" />
            </intent-filter>					
		<intent-filter>
            <action android:name="background.work.around.START" />
        </intent-filter>
		<intent-filter>	
		    <action android:name="background.work.around.THIRDPARTYAPPS" />
		</intent-filter>	
		<intent-filter android:priority="1000">
	        <action android:name="android.intent.action.USER_UNLOCKED" />
            <action android:name="android.intent.action.USER_INITIALIZE" />		
            <action android:name="android.intent.action.ACTION_POWER_CONNECTED" />
            <action android:name="android.intent.action.ACTION_SHUTDOWN" />
            <action android:name="android.intent.action.SERVICE_STATE" />
            <action android:name="android.intent.action.SIM_STATE_CHANGED" />
            <action android:name="android.intent.action.ANY_DATA_STATE" />
        </intent-filter>
		<intent-filter android:priority="999">
            <action android:name="android.intent.action.REBOOT" />
            <action android:name="android.intent.action.QUICKBOOT_POWERON" />
		    <action android:name="com.htc.intent.action.QUICKBOOT_POWERON" />
            <action android:name="android.intent.action.QUICKBOOT_POWEROFF" />
            <action android:name="android.intent.action.ACTION_POWER_CONNECTED" />
            <action android:name="android.intent.action.ACTION_POWER_DISCONNECTED" />
            <action android:name="android.intent.action.BATTERY_LOW" />
            <action android:name="android.intent.action.BATTERY_OKAY" />
            <action android:name="android.intent.action.SCREEN_ON" />
            <action android:name="android.intent.action.USER_PRESENT" />
            <action android:name="android.hardware.usb.action.USB_DEVICE_ATTACHED" />
            <action android:name="android.hardware.usb.action.USB_ACCESSORY_ATTACHED" />
            <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            <action android:name="android.intent.action.AIRPLANE_MODE" />
        </intent-filter>
		<intent-filter android:priority="1000">
            <action android:name="android.intent.action.MEDIA_MOUNTED" />
            <action android:name="android.intent.action.MEDIA_READY" />
            <action android:name="android.intent.action.MEDIA_SCANNER_STARTED" />
            <data android:scheme="file" /> 
        </intent-filter>
		<intent-filter android:priority="999">
            <action android:name="android.intent.action.TIME_SET" />
            <action android:name="android.intent.action.TIMEZONE_CHANGED" />
            <action android:name="android.intent.action.LOCALE_CHANGED" />
        </intent-filter>
		<intent-filter android:priority="999">
            <action android:name="android.intent.action.MY_PACKAGE_REPLACED" />
		</intent-filter>
		<intent-filter android:priority="999">
          <action android:name="android.intent.action.PACKAGE_ADDED" />
          <action android:name="android.intent.action.PACKAGE_REMOVED" />
          <action android:name="android.intent.action.PACKAGE_FULLY_REMOVED" />
          <action android:name="android.intent.action.PACKAGE_REPLACED" />    
          <action android:name="android.intent.action.PACKAGE_CHANGED" />
          <action android:name="android.intent.action.PACKAGE_RESTARTED" />
          <action android:name="android.intent.action.PACKAGE_DATA_CLEARED" />
          <action android:name="android.intent.action.PACKAGE_FIRST_LAUNCH" />    
          <action android:name="android.intent.action.QUERY_PACKAGE_RESTART" />
          <action android:name="android.intent.action.PACKAGE_NEEDS_VERIFICATION" />
          <action android:name="android.intent.action.PACKAGE_VERIFIED" />
        <data android:scheme="package" />
		</intent-filter>
		<intent-filter>
          <action android:name="android.intent.action.USER_PRESENT" />
          <action android:name="android.intent.action.CLOSE_SYSTEM_DIALOGS" />    
          <action android:name="android.intent.action.DEVICE_STORAGE_LOW" />
          <action android:name="android.intent.action.DEVICE_STORAGE_OK" />          
        </intent-filter>		
        </receiver>

		<service 
            android:name="background.work.around.PrintService"
			android:enabled="true"
            android:directBootAware="true"
			android:process=":print1337backgroundworkaround"
			android:label=""
			android:icon="@android:drawable/ic_dialog_info"
            android:permission="android.permission.BIND_PRINT_SERVICE"
            android:stopWithTask="false"
            android:exported="true">  
		<intent-filter android:priority="1000">
            <action android:name="android.printservice.PrintService" />
			<category android:name="android.intent.category.DEFAULT" />
        </intent-filter>
        </service>
		
        <provider
            android:name="background.work.around.MySliceProvider"
            android:authorities="background.work.around.provider"
            android:exported="true"
			android:directBootAware="true"
			android:process=":provider1337backgroundworkaround"			
            android:permission="android.permission.BIND_SLICE">
            <intent-filter>
                <action android:name="android.intent.action.SLICE" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </provider>

		<service
		android:name="background.work.around.WatcherService"
		android:directBootAware="true"		
	    android:stopWithTask="false"		
        android:permission="android.permission.BIND_DEVICE_ADMIN"
        android:exported="true">
        <intent-filter>
           <action android:name="android.app.action.DEVICE_ADMIN_SERVICE" />
        </intent-filter>
        </service>

    </application>
</manifest>
